.header {
  border-bottom: 1px solid var(--header-border);
}

.header__container {
  display: flex;
  align-items: center;
}

.logo-link__header {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--logo-txt);
  
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-link__accent {
  color: var(--accent-txt);
}

.header-nav {
  display: none;

  @media screen and (min-width: 768px) { 
    display: flex;   
  }
}

.header-nav__list {
  display: flex;
}

.header-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-txt);
  transition-property: color;
  transition-duration: var(--time-duration);
  transition-timing-function: var(--time-fun);

  &:hover,
  &:focus {
    color: var(--accent-txt);
  }
}

.header-nav__item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.header-contacts__list {
  display: none;

  @media screen and (min-width: 768px) { 
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content:center;
      
  }

  @media screen and (min-width: 1200px) { 
    flex-direction: row;
    align-items: center;
  }
}

.header-contacts__item:not(:last-child) {

  @media screen and (min-width: 768px) { 
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1200px) { 
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.header-contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-txt);
  transition-property: color;
  transition-duration: var(--time-duration);
  transition-timing-function: var(--time-fun);

  &:hover,
  &:focus {
    color: var(--accent-txt);
  }
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.current {
  color: var(--accent-txt);

  &::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-txt);
  }
}