@import './filter';

.works-img {
  margin-bottom: 0;
}

.works__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: 480px) {
    justify-content: flex-start;
  }
}


.works__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

@media screen and (min-width: 768px) and (max-width: 1199px)  {
    margin-right: 30px;
    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-child(n + 8) {
      margin-bottom: 0;
    }
  }


  @media screen and (min-width: 1200px) {
    margin-right: 30px;
    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-child(n + 6) {
      margin-bottom: 0;
    }
  }
}

.works__link {
  display: flex;
  flex-direction: column;  //?
  height: 100%;            //?

  transition-property: box-shadow;
  transition-duration: var(--time-duration);
  transition-timing-function: var(--time-fun);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.works__thumb {
  position: relative;
  overflow: hidden;
}

.works__img {
  max-height: 294px;

  @media screen and (max-width: 479px) {
    max-width: 290px;
  }

  @media screen and (min-width: 480px) {
    width: 450px ;
  }

  @media screen and (min-width: 768px) {
    width: 354px ;
  }  
    
  @media screen and (min-width: 1200px) {
    width: 370px ;
  }
}

.works__descr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--light-txt);
  background-color: var(--accent-txt);
  opacity: 0.9;
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform;
  transition-duration: var(--time-duration);
  transition-timing-function: var(--time-fun);
}

.works__link:hover .works__descr,
.works__link:focus .works__descr {
  transform: translateY(0);
}

.works__container {
  // display: block;
  padding: 20px 24px;
  border-right: 1px solid var(--primary-border);
  border-bottom: 1px solid var(--primary-border);
  border-left: 1px solid var(--primary-border);

  @media screen and (max-width: 479px) {
    max-width: 290px;
  }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
    // width: 354px; 
    flex-grow: 1;
  }
}

// .works__item:nth-child(-n+2) .works__container {
//   @media screen and (min-width: 768px) and (max-width: 1199px) {
//     height: 146px;
//   }
// }

.works__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-txt);
}

.works__type {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--secondary-txt);
}
